.App {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

#array-size {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Style for "Generate Array" button */
#generate-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for "Generate Array" button */
#generate-button:hover {
    background-color: #45a049;
}
.sorting-buttons {
    margin-top: 20px;
}

.sorting-buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sorting-buttons button:hover {
    background-color: #45a049;
}

#output-container {
    margin-top: 50px;
    display: none; /* Initially hidden */
    overflow-x: auto; /* Enable horizontal scrolling if bars exceed container width */
}

#output {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px; /* Adjusted height to fit bars */
    width: 100%; /* Ensure bars fill the entire width */
    background-color: #f0f0f0; /* Background color for better visibility */
}

.bar {
    background-color: #2196F3;
    flex: 1; /* Allow bars to grow and shrink to fill container */
    margin: 0 1px; /* Adjusted margin for better spacing */
}